body{
  font-family: sans-serif;
}

.nav {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  background-color: #009ec2;
}

.nav-item {
  float: left;
}

.nav-item a {
  display: block;
  color: white;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

.menu-icn{
  color: #fff;
  margin: 45% 20% 0% 35%;
}

table{
  border-collapse: collapse;
  background-color: #22cae8;
  border-radius: 10px;
  width: 30%;
}

th{
  background-color: #009ec2;
  color: #fff;
}

td{
  border: 1px solid #fff;
  color: #076677;
  background-color: #efefef;
}

div{
  border-radius: 10px;
  margin-top: 2%;
  padding: 10px;
  text-align: center;
}

footer {
    position: fixed;
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #eafbff;
    color: #0b84a0;
    text-align: center;
}

a:link{
  color: #0b84a0;
}

#trueStat{
  background-color: #bbf46b;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: -3%;
  margin-left: 1%;
  width: 20%;
  color: #1c6602;
}

#falseStat{
  background-color: #ed4e56;
  padding: 5px;
  border-radius: 5px;
  margin-bottom: -3%;
  margin-left: 1%;
  width: 20%;
  color: #fff;
}

#datosBtn{
  margin-left: 23%;
  margin-bottom: -10px;
  margin-top: -20px;
  padding: 5px;
  border: none;
  border-radius: 5px;
}

#datosBtn:hover{
  background-color: #e5e5e5;
}

#barchart_values{
  margin-top: -23%;
  margin-left: 35%;
}
